{#
 # News template
 # -----------------
 #

-#}

{% extends "_layout" %}
{% set title = "News" %}

{% block body %}

<section class="footer-over news news-main">  
  <div class="container">
    <div class="row">
      <div class="col-md-8 col-sm-12">
          <h1>NEWS</h1>
          {% for entry in craft.entries.section('news').limit(3).order('postDate desc') %}
          <article>
            <time pubdate datetime="{{ entry.postDate.format('Y-F-d') }}">{{ entry.postDate.format('F d, Y') }}</time>
            <h2><a href="{{ entry.url }}">{{ entry.title }}</a></h2>
            <p>{{ entry.body|striptags|slice(0,170) }}&hellip;  <span class="moar">&raquo; <a href="{{ entry.url }}">READ MOHR</a></span></p>
          </article>
          <hr>
           {% endfor %}
              
            {% set entries = craft.entries.section('news').limit(10).offset(3).order('postDate desc') %}     
            <div class="row news-main-footer" id="paginate_content">
             {% paginate entries as entriesOnPage %}

             {% for entry in entriesOnPage %}
            <article class="col-md-12 sidenav-news ">
                <a href="{{ entry.url }}" class="active news-title hvr-grow">{{entry.title }}</a>
                <time pubdate datetime="{{ entry.postDate.format('Y-F-d') }}">{{ entry.postDate.format('F d, Y') }}</time>
            </article>
            {% endfor %} 


            </div>
<!--            <a href="news.html" class="btn btn-lg btn-default">LOAD MOAR NEWS</a>-->
                   
      </div>
      <div class="col-md-4 hidden-sm hidden-xs">
        {% include 'inc/newsletter.html' %}
        
      </div>
    </div>
  </div>
 </section>

{% endblock %}

