{#
 # Homepage template
 # -----------------
 #

-#}

{% extends "_layout" %}

{% block body %}


   
    <h1>home</h1>

    <ul class="sidenav-news list-unstyled">

     {% for entry in craft.entries.section('news').limit(5).order('postDate desc') %}   
      <li>
        <a href="{{ entry.url }}">{{ entry.title }}</a>
        <time pubdate datetime="{{ entry.postDate.format('Y-F-d') }}">{{ entry.postDate.format('F d, Y') }}</time>
      </li>
    {% endfor %}

    </ul>
        


{% endblock %}






{% block footer %}
{{ parent() }}

<script>

$(document).ready(function(){
    //some custom on-this-page-only script
});   
</script>
  


{% endblock %}