<ul class="list-unstyled list-inline text-right">
  <li><a href="">
    <span class="fa-stack hvr-grow">
      <i class="fa fa-circle fa-stack-2x icon-background"></i>
      <i class="fa fa-soundcloud fa-stack-1x icon-foreground"></i>
    </span>
  </a></li>
  <li><a href="">
    <span class="fa-stack hvr-grow">
      <i class="fa fa-circle fa-stack-2x icon-background"></i>
      <i class="fa fa-facebook fa-stack-1x icon-foreground"></i>
    </span>            
  </a></li>
  <li><a href="">
    <span class="fa-stack hvr-grow">
      <i class="fa fa-circle fa-stack-2x icon-background"></i>
      <i class="fa fa-instagram fa-stack-1x icon-foreground"></i>
    </span>            
  </a></li>
  <li><a href="">
    <span class="fa-stack hvr-grow">
      <i class="fa fa-circle fa-stack-2x icon-background"></i>
      <i class="fa fa-flickr fa-stack-1x icon-foreground"></i>
    </span>            
  </a></li>
  <li><a href="">
    <span class="fa-stack hvr-grow">
      <i class="fa fa-circle fa-stack-2x icon-background"></i>
      <i class="fa fa-twitter fa-stack-1x icon-foreground"></i>
    </span>            
  </a></li>
  <li><a href="">
    <span class="fa-stack hvr-grow">
      <i class="fa fa-circle fa-stack-2x icon-background"></i>
      <i class="fa fa-lastfm fa-stack-1x icon-foreground"></i>
    </span>            
  </a></li>
  <li><a href="">
    <span class="fa-stack hvr-grow">
      <i class="fa fa-circle fa-stack-2x icon-background"></i>
      <i class="fa fa-rss fa-stack-1x icon-foreground"></i>
    </span>            
  </a></li>
</ul>