<ul class="list-unstyled list-inline text-right">
  <li><a href="">
    <i class="fa fa-soundcloud"></i>
  </a></li>
  <li><a href="">
    <i class="fa fa-facebook"></i>           
  </a></li>
  <li><a href="">
     <i class="fa fa-instagram"></i>            
  </a></li>
  <li><a href="">
    <i class="fa fa-flickr"></i>            
  </a></li>
  <li><a href="">
    <i class="fa fa-twitter"></i>            
  </a></li>
  <li><a href="">
    <i class="fa fa-lastfm"></i>          
  </a></li>
  <li><a href="">
    <i class="fa fa-rss"></i>           
  </a></li>
</ul>